body {
    margin: 0;
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-direction: column; /* Disposición en columna */
    text-align: center; 
    color: rgb(45, 235, 54); 
}

.arriba {
    border-color: rgb(45, 235, 54);
    border-style: solid;
    padding-right: 50%; 
    flex: 1; /* 1/6 del total */
    background-color: rgb(0, 0, 0); /* Color de fondo para visualización */
}

.medio {
    flex: 8; /* 4/6 del total */
    display: flex; /* Usar flexbox para el div medio */
    background-color: rgb(0, 0, 0); /* Color de fondo para visualización */
}

.izquierda {
    border-color: rgb(45, 235, 54);
    border-style: solid;
    flex: 2; /* 2 partes a la izquierda */
    background-color: rgb(0, 0, 0); /* Color de fondo para visualización */
}

.derecha {
    border-color: rgb(45, 235, 54);
    border-style: solid;
    flex: 1; /* 1 parte a la derecha */
    background-color: rgb(0, 0, 0); /* Color de fondo para visualización */
}

.abajo {
    border-color: rgb(45, 235, 54);
    border-style: solid;
    flex: 1; /* 1/6 del total */
    background-color: rgb(107, 107, 107); /* Color de fondo para visualización */
}